@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body, html {
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    background-color: rgb(46, 46, 46);
    width: 100%;
    z-index: 1000;
    nav {
        width: 1100px;
        margin: auto;
        ul {
            width: 500px;
            justify-content: space-around;
            display: flex;
            flex-direction: row;
            li {
                display: flex;
                flex-direction: row;
                a {
                    color: white;
                    font-family: 'Open Sans', sans-serif;
                    text-decoration: none;
                }
            }
        }
    }
}

.posts {
    position: relative;
    top: 70px;
    width: 800px;
    margin: auto;
    .postCatalog {
        border: 1px solid gray;
        border-radius: 10px;
        margin-bottom: 15px;
        font-family: 'Open Sans', sans-serif;
        p {
            padding: 10px;
            padding-top: 0;
        }
        h2 {
            color: #339bfd;
            font-size: 20px;
            padding: 10px;
        }
    }
}

.post {
    position: relative;
    top: 70px;
    width: 800px;
    margin: auto;
    position: relative;
    h1 {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    p {
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 40px;
    }
}